@model Contact_list.Models.ContactViewModel


<style>
    body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
}
</style>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create Contact</h3>
            <form asp-action="Create" method="post" name="Create">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" asp-for = "FirstName"/>
                    <label class="form-label" for="firstName">First Name</label>
                  </div>


                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" asp-for = "LastName"/>
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>

                </div>
              
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg" asp-for ="Email" />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" asp-for = "Phone" />
                    <label class="form-label" for="phoneNumber">Phone Number</label>


                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="country" class="form-control form-control-lg" asp-for = "Address.Country"/>
                    <label class="form-label" for="country">Country</label>
                  </div>


                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="city" class="form-control form-control-lg" asp-for = "Address.City"/>
                    <label class="form-label" for="city">City</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="street" class="form-control form-control-lg" asp-for = "Address.Street"/>
                    <label class="form-label" for="street">Street</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                 <div class="form-outline">
                    <input type="text" id="building" class="form-control form-control-lg" asp-for = "Address.Building"/>
                    <label class="form-label" for="building">Build</label>
                  </div>
                </div>
                
                <div class="col-md-6 mb-4">
                <div class="form-outline">
                    <input type="text" id="appartment" class="form-control form-control-lg" asp-for = "Address.Appartament"/>
                    <label class="form-label" for="appartment">Appartment</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Create" asp-action = "Create"/>
              </div>
              <div style = "position:absolute;left:68%;top:83%;">
                <input class="btn btn-secondary btn-lg" type="submit" value="Cancel" asp-action = "Index"/>
              </div>
              </div>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>